---
---

@import "{{ site.theme }}";

.inner {
  max-width: 75% !important;
}

#main_content {
  max-width: 75% !important;
  padding-top: 40px !important;
}

@media screen {
  .inner {
    max-width: 75% !important;
  }
}
